{% extends 'bootstrap/base.html' %}

{% block title %}Cafe Ratings{% endblock %}

{% block content %}
<div class="jumbotron text-center">
    <div class="container">
  <h1 class="display-4">☕️ Cafe Ratings 💻</h1>
  <p class="lead">Looking for a cafe to get work done at?</p>
  <hr class="my-4">
  <p>You've found the right place! Checkout a collection of cafes with data on power socket availability, wifi speed, coffee quality, study availability and price.</p>
  <a class="btn btn-warning btn-lg" href="{{ url_for('cafes') }}" role="button">Show Me!</a>
</div>
    </div>

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="static/css/styles.css">
{% endblock %}
{% endblock %}
